@import '../../../variables';

/* Roles */
.pc-rolesList {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 315px;
}

.pc-rolesList::-webkit-scrollbar {
  width: 14px;
  background-color: darken($background-secondary, 2);
  border-width: initial;
  border-color: transparent;
  border-radius: 7px;
}

.pc-rolesList::-webkit-scrollbar-thumb {
  background-color: $background-primary;
  border-color: transparent;
  border-radius: 7px;
  background-clip: padding-box;
  border-style: solid;
}

/* Custom status */
.customStatus-1bh2V9 {
  max-height: 100px;
  overflow-y: auto;
}

.customStatus-1bh2V9::-webkit-scrollbar {
  background-color: darken($background-secondary, 2) !important;
  width: 14px;
  border-radius: 7px;
}

.customStatus-1bh2V9::-webkit-scrollbar-thumb {
  background-color: $background-primary;
  border-color: transparent;
  border-radius: 7px;
  background-clip: padding-box;
  border-style: solid;
}

