/* TOGGLES */

$client-zoomed: false; /* If you plan on zooming the client */
$tag-colored: true; /* If you want tags to be colored in mentions */
$role-colored: false; /* Should we overwrite the default role color with the custom mention color */
$avatar-border-radius: 0%; /* 50% for round - 0% for square */

/* COLORS */

$main-color: #00a0a9;
$hover-color: #3eecff;

$background-primary: #000000; /* Primary background color | #2b2b2b */
$background-secondary: #1A1A1A; /* Secondary background color */

$status-online-color: #43b581; /* Color for online status | #43b581 */
$status-idle-color: #fAA61A; /* Color for idle status | #fAA61A */
$status-dnd-color: #F04747; /* Color for dnd status | #F04747 */
$status-offline-color: #636B75; /* Color for offline status | #636B75 */
$status-invisible-color: #747f8D; /* Color for invisible status - Note this will only show for your own invisibility | #747f8D */
$status-streaming-color: #643DA7; /* Color for streaming status | #643DA7 */

$embed-color: $background-secondary; /* Color for embeds */

//$emoji-primary: $background-primary; /* Main emoji picker color */
//$emoji-secondary: $background-secondary; /* Secondary emoji picker color */

$links: $main-color; /* Color of links/urls | #0096cf */
$switches: $main-color; /* Color of switches | #7289da */

$mentions: $main-color; /* Color of mentions | #7289da */
$channel-tag: $main-color; /* Color of channel tags | #7289da */

$speaking-circle: #43b581; /* Speaking circle color | #43b581 */

$spotify-modal: $main-color; /* Changes the color of the Spotify Modal | #1ed860 */
