/* Make letter count great again */
//.powercord-lettercount {
//  font-size: 11px;
//  text-align: right;
//  margin-bottom: -17px;
//  color: hsla(216, 3%, 65%, 1);
//}
//
//.powercord-lettercount-value {
//  float: none;
//  display: inline;
//  padding-right: 0;
//}
//
//.powercord-lettercount-maxvalue {
//  float: none;
//  display: inline;
//  padding-right: 6px;
//}

/* Align member join / call start icons in compact */
//.pc-containerCompact .pc-content > .pc-container > .pc-container {
//  align-items: center;
//}
//.pc-containerCompact .icon-2Po-VO {
//  margin-right: 0;
//  margin-top: 0;
//  position: relative;
//  left: 10px;
//}
