//.statusText-2F9zIF{
//  display: none;
//}
//
//.status-mz5rqq{
//  position: relative;
//}
//
//.status-mz5rqq::before{
//  position: absolute;
//  left: 18px;
//  top: -2px;
//  color: var(--header-secondary)!important;
//  width: 200px;
//}
//
//.status-mz5rqq[aria-label="Online"]::before{
//  content: 'Online';
//}
//
//.status-mz5rqq[aria-label="Idle"]::before{
//  content: 'Idle';
//}
//
//.status-mz5rqq[aria-label="Do Not Disturb"]::before{
//  content: 'Do Not Disturb';
//}
//
//.status-mz5rqq[aria-label="Offline"]::before{
//  content: 'Offline';
//}
//
//.status-mz5rqq[aria-label="Streaming"]::before{
//  content: 'Streaming';
//}


// Chat bubbles
//.chat-3bRxxu .containerCozy-jafyvG:not(:last-child),
//.chat-3bRxxu .container-1YxwTf:last-child {
//  background-color: #111;
//  padding: 15px 7px 10px 10px !important;
//  margin: 20px 10px 20px 80px;
//  border-radius: 5px;
//}
//
//.chat-3bRxxu .container-1YxwTf .headerCozy-2N9HOL {
//  margin-left: -80px;
//}
//
//.chat-3bRxxu .container-1YxwTf .headerCozy-2N9HOL .headerCozyMeta-rdohGq {
//  margin-left: 5px;
//}
//
//.chat-3bRxxu .contentCozy-3XX413 {
//  margin-left: 5px;
//}
//
//.chat-3bRxxu .containerCozy-jafyvG .avatar-17mtNa {
//  position: relative;
//}
//
//.chat-3bRxxu .containerCozy-jafyvG .avatar-17mtNa:after {
//  content: ' ';
//  border: 6.5px solid transparent;
//  border-right-color: #111;
//  position: absolute;
//  margin-top: -75%;
//  margin-left: 92%;
//}
//
//.containerCozy-jafyvG .isMentioned-N-h9aa {
//  box-shadow: 0 0 5px rgba(250, 166, 26, .1);
//}
//
//.containerCozyBounded-1rKFAn {
//  overflow: visible;
//}
