//.role-2irmRk {
//  position: relative;
//  overflow: hidden;
//  z-index: 1;
//  border: none;
//  padding: 5px;
//}

.roleCircle-3xAZ1j {

  //&::before {
  //  content: "";
  //  position: absolute;
  //  top:0;
  //  left:0;
  //  width:100%;
  //  height: 100%;
  //  background: inherit;
  //  opacity: .2;
  //  z-index: -1;
  //  pointer-events: none;
  //}

  &:empty {
    display: none !important;

    + .roleName-32vpEy {
      margin-left: 4px;
    }
  }
}
