.blockquoteContainer-U5TVEi blockquote {
  background-color: var(--background-secondary);
  border-radius: 0 4px 4px 0;
  padding: 6px 10px 7px;
}

.blockquoteContainer-U5TVEi .blockquoteDivider-2hH8H6 {
  border-radius: 4px 0 0 4px;
}