@import '../variables';
@import '../custom';
@import 'components/BlurpleReplacer';
@import 'components/ChannelListColumn/imports';
@import 'components/ChatArea';
@import 'components/Codeblocks';
@import 'components/Embeds';
@import 'components/EmojiPicker';
@import 'components/GifPicker';
@import 'components/GuildListColumn';
@import 'components/MainApp';
@import 'components/MemberListColumn';
//@import 'components/Notifications';
//@import 'components/SpeakingCircles';
@import 'components/Switches';
@import 'components/Tags';
@import 'components/TitleBar';
@import 'components/UserPanels/imports';

.theme-dark {
  --accent: #{red($main-color)}, #{green($main-color)}, #{blue($main-color)};
  --header-primary: #fff; // #fff
  --header-secondary: #b9bbbe; // #b9bbbe
  --text-normal: #dcddde; // #dcddde
  --text-muted: #72767d; // #72767d
  --text-link: #{$links}; // #00b0f4
  --channels-default: #8e9297; // #8e9297
  --interactive-normal: #b9bbbe; // #b9bbbe
  --interactive-hover: #dcddde; // #dcddde
  --interactive-active: #fff; // #fff
  --interactive-muted: #4f545c; // #4f545c
  --background-primary: #000000; // #36393f
  --background-secondary: #101010; // #2f3136
  --background-secondary-alt: #000000; // #292b2f
  --background-tertiary: #333333; // #202225
  --background-accent: #4f545c; // #4f545c
  --background-floating: #18191c; // #18191c
  --background-mobile-header: #2f3136; // #2f3136
  --background-modifier-hover: rgba(79, 84, 92, 0.16); // rgba(79,84,92,0.16)
  --background-modifier-active: rgba(79, 84, 92, 0.24); // rgba(79,84,92,0.24)
  --background-modifier-selected: rgba(79, 84, 92, 0.32); // rgba(79,84,92,0.32)
  --background-modifier-accent: hsla(0, 0%, 100%, 0.06); // hsla(0,0%,100%,0.06)
  --elevation-low: 0 1px 0 rgba(4, 4, 5, 0.2), 0 1.5px 0 rgba(6, 6, 7, 0.05), 0 2px 0 rgba(4, 4, 5, 0.05); // 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05)
  --elevation-high: 0 8px 16px rgba(0, 0, 0, 0.24); // 0 8px 16px rgba(0,0,0,0.24)
  --logo-primary: #fff; // #fff
  --guild-header-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4); // 0 1px 1px rgba(0,0,0,0.4)
  --channeltextarea-background: #101010; // #40444b
  --activity-card-background: #202225; // #202225
  --textbox-markdown-syntax: #8e9297; // #8e9297
  --deprecated-panel-background: #292b2f; // #292b2f
  --deprecated-card-bg: rgba(32, 34, 37, 0.6); // rgba(32,34,37,0.6)
  --deprecated-card-editable-bg: rgba(32, 34, 37, 0.3); // rgba(32,34,37,0.3)
  --deprecated-store-bg: #36393f; // #36393f
  --deprecated-quickswitcher-input-background: #72767d; // #72767d
  --deprecated-quickswitcher-input-placeholder: hsla(0, 0%, 100%, 0.3); // hsla(0,0%,100%,0.3)
  --deprecated-text-input-bg: rgba(0, 0, 0, 0.1); // rgba(0,0,0,0.1)
  --deprecated-text-input-border: rgba(0, 0, 0, 0.3); // rgba(0,0,0,0.3)
  --deprecated-text-input-border-hover: #040405; // #040405
  --deprecated-text-input-border-disabled: #202225; // #202225
  --deprecated-text-input-prefix: #202225; // #202225
}

.theme-light {
  --accent: #{red($main-color)}, #{green($main-color)}, #{blue($main-color)};
  --header-primary: #060607;
  --header-secondary: #4f5660;
  --text-normal: #2e3338;
  --text-muted: #747f8d;
  --text-link: #0067e0;
  --channels-default: #6a7480;
  --interactive-normal: #4f5660;
  --interactive-hover: #2e3338;
  --interactive-active: #060607;
  --interactive-muted: #c7ccd1;
  --background-primary: #fff;
  --background-secondary: #f2f3f5;
  --background-tertiary: #e3e5e8;
  --background-accent: #747f8d;
  --background-floating: #fff;
  --background-mobile-header: #fff;
  --background-modifier-hover: rgba(116, 127, 141, 0.08);
  --background-modifier-active: rgba(116, 127, 141, 0.16);
  --background-modifier-selected: rgba(116, 127, 141, 0.24);
  --background-modifier-accent: rgba(6, 6, 7, 0.08);
  --elevation-low: 0 1px 0 rgba(6, 6, 7, 0.1), 0 1.5px 0 rgba(6, 6, 7, 0.025), 0 2px 0 rgba(6, 6, 7, 0.025);
  --elevation-high: 0 8px 16px rgba(0, 0, 0, 0.16);
  --logo-primary: #7289da;
  --guild-header-text-shadow: 0 1px 1px hsla(0, 0%, 100%, 0.4);
  --channeltextarea-background: #ebedef;
  --activity-card-background: #fff;
  --textbox-markdown-syntax: #6a7480;
  --deprecated-panel-background: #ebedef;
  --deprecated-card-bg: #f8f9f9;
  --deprecated-card-editable-bg: rgba(246, 246, 247, 0.6);
  --deprecated-store-bg: #f8f9f9;
  --deprecated-quickswitcher-input-background: #fff;
  --deprecated-quickswitcher-input-placeholder: rgba(79, 84, 92, 0.3);
  --deprecated-text-input-bg: rgba(79, 84, 92, 0.02);
  --deprecated-text-input-border: rgba(79, 84, 92, 0.3);
  --deprecated-text-input-border-hover: #b9bbbe;
  --deprecated-text-input-border-disabled: #dcddde;
  --deprecated-text-input-prefix: #b9bbbe;
}
