/* Clyde / Powercord */

.localBot-GrCgVt:before {
  background-color: rgba(var(--accent)) !important;
}

.localBot-GrCgVt {
  background-color: rgba(var(--accent), 0.05) !important;
}

/* Playing / Streaming Background */

div[class*="headerPlaying"],
div[class*="headerStreaming"] {
  background-color: rgba(var(--accent)) !important;
}

/* Menus */

div[class*="colorDefault-"].focused-3afm-j,
div[class*="colorDefault-"].focused-3afm-j:active {
  background-color: rgba(var(--accent)) !important;
  color: #fff !important;
}

div[class*="colorDanger-"].focused-3afm-j,
div[class*="colorDanger-"].focused-3afm-j:active {
  background-color: #f04747 !important;
}

/* Buttons */

div[class*="themeDefault"].valueChecked-m-4IJZ,
button[class*="lookFilled"].colorBrand-3pXr91,
button[class*="lookFilled"].colorBrand-3pXr91:disabled,
button[class*="lookFilled"].colorBrand-3pXr91:hover {
  background-color: rgba(var(--accent)) !important;
  color: #fff !important;
  border-color: rgba(var(--accent)) !important;
}

/* Sliders */

div[class*="barFill-"] {
  background-color: rgba(var(--accent)) !important;
}

/* Reactions */

.reaction-1hd86g.reactionMe-wv5HKu {
  background-color: rgba(var(--accent), 0.3);
}

.reactionMe-wv5HKu .reactionCount-2mvXRV, .reactionMe-wv5HKu:hover .reactionCount-2mvXRV {
  color: rgba(var(--accent));
}

/* Server Boost Icon */

div[class*="subscribeTooltipWrapper-"] {
  background-color: rgba(var(--accent));
}

div[class*="subscribeTooltipWrapper-"]::after {
  border-bottom-color: rgba(var(--accent));
}

.lookInverted-2D7oAl.colorBrand-3pXr91 {
  color: rgba(var(--accent));
}

/* Bot Buttons */

span[class*="botTagInvert-"] {
  color: rgba(var(--accent)) !important;
}

/* Message Edit Buttons */

div[class*="operations-"] > a {
  color: rgba(var(--accent)) !important;
}

/* Channel Sync Buttons */

button[class*="lookGhost-"].colorBrand-3pXr91 {
  color: rgba(var(--accent)) !important;
  background-color: rgba(var(--accent), 0.1) !important;
}

/* Video Player */

div[class*="mediaBarInteractionDragging-"] .mediaBarGrabber-1FqnbN,
.mediaBarInteraction-37i2O4:hover .mediaBarGrabber-1FqnbN,
.mediaBarGrabber-1FqnbN,
.mediaBarProgress-1xaPtl,
.mediaBarProgress-1xaPtl::after,
.mediaBarProgress-1xaPtl::before {
  background-color: rgba(var(--accent));
}

/* Guild Avatar Without Icon */

div[class*="guildAvatarWithoutIcon-"] {
  background-color: rgba(var(--accent));
}

/* Cube Loading Spinner */

span[class*="wanderingCubesItem-"] {
  background-color: rgba(var(--accent));
}

/* Load More Messages */

.hasMore-3e72_v {
  color: rgba(var(--accent));
}

/* Server Verified Badges */

svg[aria-label="Verified"] {
  color: rgba(var(--accent)) !important;
}

/* Wide Buttons */

div[class*="radioGroup-"] div[style*="background-color: rgb(114, 137, 218)"] {
  background-color: rgba(var(--accent)) !important;
  border-color: rgba(var(--accent)) !important;
}
div[class*="cardPrimaryEditable-"] div[style*="border-color: rgb(114, 137, 218)"] {
  border-color: rgba(var(--accent)) !important;
}

/* Discord Nitro Button in Settings */

div[class*="side-"] div[style*="color: rgb(114, 137, 218)"] {
  color: rgba(var(--accent)) !important;
}
div[class*="side-"] div[style*="background-color: rgb(114, 137, 218)"] {
  background-color: rgba(var(--accent)) !important;
  color: #fff !important;
}
div[class*="side-"] div[style*="background-color: rgba(114, 137, 218, 0.1)"] {
  background-color: rgba(var(--accent), 0.1) !important;
}

/* Other stuff */

div[class*="colorDefault"].focused-3afm-j,
.colorDefault-2K3EoJ.focused-3afm-j .checkbox-3s5GYZ {
  color: #fff !important;
}

button[class*="lookOutlined"].colorBrand-3pXr91 {
  color: rgba(var(--accent)) !important;
  border-color: rgba(var(--accent), 30%);
}

button[class*="lookOutlined"].colorBrand-3pXr91:hover {
  border-color: rgba(var(--accent), 50%);
}

[class^="regionSelectModalOption-"]:hover,
.input-cIJ7To.focused-1mmYsC,
.input-cIJ7To:focus {
  border-color: rgba(var(--accent)) !important;
}

circle[class^="radioSelection-"],
[fill*="7289da"] {
  fill: rgba(var(--accent)) !important;
}

polyline[stroke*="7289da"] {
  stroke: rgba(var(--accent)) !important;
}

[class^="sampleLink-"],
.title-2Dc-Cb,
[class^="regionSelectModalHeader-"],
.lookGhost-2Fn_0-.colorBrand-3pXr91,
.lookLink-9FtZy-.colorBrand-3pXr91,
.colorDefault-2K3EoJ .checkbox-3s5GYZ,
.colorDefault-2K3EoJ.focused-3afm-j .check-1JyqgN,
div[class*="colorBrand"] {
  color: rgba(var(--accent)) !important;
}

div[class*="topSectionPlaying-"],
[class^="avatarUploaderInner-"] {
  background-color: rgba(var(--accent)) !important;
}

[style*="background-color: rgba(114, 137, 218, 0.4)"] {
  background-color: rgba(var(--accent), 40%) !important;
}

.categoryItem-3zFJns.selectedCategoryItem-3X8ujp .itemInner-3gVXMG,
span[class^="questionMark-"],
.interactive:hover,
div[class^="newMessagesBar-"],
.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, .wrapper-1BJsBx:hover .childWrapper-anI2G9,
div[class^="dot-"],
span[class*="botTagRegular"] {
  background-color: rgba(var(--accent)) !important;
  color: #fff !important;
  border-color: rgba(var(--accent)) !important;
}
