//noinspection CssUnknownTarget
@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.207/distr/fira_code.css);

code {
  font-family: 'Fira Code', monospace;
}

//.theme-dark .hljs-keyword, .theme-dark .hljs-literal, .theme-dark .hljs-meta {
//  color: #B988D9 !important;
//}
//
//.theme-dark .hljs-section, .theme-dark .hljs-selector-id, .theme-dark .hljs-title, .theme-dark .hljs-built_in {
//  color: #7a9ae0 !important;
//}
//
//.theme-dark .hljs-doctag, .theme-dark .hljs-meta .hljs-meta-string, .theme-dark .hljs-regexp, .theme-dark .hljs-string {
//  color: #ade65f !important;
//}
//
//.theme-dark .hljs-attr, .theme-dark .hljs-template-variable, .theme-dark .hljs-type, .theme-dark .hljs-variable, .theme-dark .hljs-selector-tag, .theme-dark .hljs-selector-pseudo {
//  color: white !important;
//}
//
//.theme-dark .hljs-number {
//  color: #E28163 !important;
//}
//
//.theme-dark .hljs-class .hljs-title, .theme-dark .hljs-selector-class {
//  color: #FFCB6B !important;
//}
//
//.theme-dark .hljs-function, .theme-dark .hljs-selector-attr {
//  color: #7DCAE9 !important;
//}
//
//.theme-dark .hljs-function .hljs-params {
//  color: #38a33b !important;
//}
//
//.theme-dark .hljs-name {
//  color: #F07178 !important;
//}
//
//.theme-dark .hljs-attribute {
//  color: #7ab6b0 !important;
//}
//
//.theme-dark .hljs-comment, .theme-dark .hljs-quote {
//  color: #586e75 !important;
//}
//
//.theme-dark .hljs-bullet, .theme-dark .hljs-link, .theme-dark .hljs-meta .hljs-keyword, .theme-dark .hljs-subst, .theme-dark .hljs-symbol {
//  color: red !important;
//}
//
//.theme-dark .hljs-addition {
//  color: lightgreen !important;
//}
//
//.theme-dark .hljs-deletion {
//  color: lightcoral !important;
//}
