@import '../../variables';

.embed-IeVjo6 {
  max-width: 600px;
}

.embedFull-2tM8-- {
  border-radius: 10px;
  border-left: none;
  border-bottom: 10px solid #000;
  background: rgba(0,0,0,0.3);
  box-shadow: var(--elevation-high);

  .embedFieldName-NFrena {
    color: var(--header-primary);
  }

  .embedFieldValue-nELq2s {
    color: var(--text-normal);
  }

  .embedFooterText-28V_Wb {
    color: var(--header-secondary);
  }
}
