@import '../../variables';

.categoryFadeBlurple-1j72_A {
  background-color: rgba(var(--accent), .5) !important;

  &:hover {
    background-color: rgba(var(--accent), .7) !important;
  }
}

.focused-1En8bG:after, .result-3w1ZcL:hover:after {
  box-shadow: inset 0 0 0 2px rgb(var(--accent)), inset 0 0 0 3px var(--background-secondary) !important;
}
