@import '../../variables';


.wrapper-1Rf91z {

  svg[class*="homeIcon-tEMBK1"] {
    background-color: var(--text-normal);
    -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path d='M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    -webkit-mask-size: 40px;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    margin: 0;
    height: 100%;
    width: 100%;

    path {
      display: none !important;
    }
  }

  .unreadMentionsIndicatorTop-gA6RCh {
    top: 40px;

    .mention-1f5kbO {
      background: rgb(var(--accent));
    }

    .bar-30k2ka {
      color: black;
      position: absolute;
      left: 0;
      border-radius: 0;
      width: 72px;
    }
  }

  .unreadMentionsIndicatorBottom-BXS58x {

    .mention-1f5kbO {
      background: rgb(var(--accent));
    }

    .bar-30k2ka {
      color: black;
      position: absolute;
      left: 0;
      bottom: 0;
      border-radius: 0;
      width: 72px;
    }
  }

  .scroller-2TZvBN {
    contain: none;
    padding: 0;

    > .tutorialContainer-1v44GL:first-child {
      top: 0;
      position: sticky !important;
      z-index: 1;

      .pill-2uzAFe {
        display: none;
      }

      .listItemWrapper-3X98Pc {
        background: var(--background-secondary);
        box-shadow: var(--elevation-low);

        &:hover {
          background: var(--deprecated-panel-background);

          svg[class*="homeIcon-tEMBK1"] {
            background-color: var(--header-primary);
          }
        }
      }

      .wrapper-25eVIn {
        width: 100%;
      }

      .childWrapper-anI2G9 {
        background: transparent !important;
      }

      .listItemWrapper-3X98Pc, .wrapper-25eVIn .svg-1X37T1 {
        height: 100%;
        width: 100%;
      }
    }

    //> .listItem-2P_4kh:nth-child(2) {
    //  top: 48px;
    //  position: sticky !important;
    //  z-index: 1;
    //
    //  div[class*="onlineFriends-friendsOnline"] {
    //    width: 100%;
    //    padding-bottom: 5px;
    //    padding-top: 5px;
    //    background: var(--background-secondary);
    //    box-shadow: var(--elevation-low);
    //  }
    //}
    //
    //div[class*="guildSeparator-3s64Iy"] {
    //  display: none !important;
    //}
  }
}

.sidebar-2K8pFh {
  border-radius: 0 !important;
}
