@import '../../variables';

// Background
.container-1D34oG {
  background-color: var(--background-secondary) !important;
}

// Custom Edited
.edited-3sfAzf {
  font-size: 0;
  width: 13px !important;
  height: 13px !important;
  display: inline-block;
  background-image: url('https://svgur.com/i/3YH.svg');
  background-size: 100%;
  opacity: .3;
  line-height: 23px;
  transition: opacity 0.2s;
  margin-left: 2.5px;

  &:hover {
    opacity: 1;
  }
}

/* All-Online*/
.image-1GzsFd[style*='background-image: url("/assets/b5eb2f7d6b3f8cc9b60be4a5dcf28015.svg")'] {
  background-image: url('https://gistcdn.githack.com/Dries1234/1b10daaeeba58acac90bbf4d7a3dc1ad/raw/7e8acdbc2a9c6e17d2076d01781022238cbe49e9/All-Friends.svg') !important;
  background-size: cover;
}

/* Pending */
.image-1GzsFd[style*='background-image: url("/assets/b669713872b43ca42333264abf9c858e.svg")'] {
  background-image: url('https://gistcdn.githack.com/Dries1234/1b10daaeeba58acac90bbf4d7a3dc1ad/raw/7e8acdbc2a9c6e17d2076d01781022238cbe49e9/pending.svg') !important;
  background-size: cover;
}

/* Blocked */
.image-1GzsFd[style*='background-image: url("/assets/8c998f8fb62016fcfb4901e424ff378b.svg")'] {
  background-image: url('https://gistcdn.githack.com/Dries1234/1b10daaeeba58acac90bbf4d7a3dc1ad/raw/7e8acdbc2a9c6e17d2076d01781022238cbe49e9/Blocked.svg') !important;
  background-size: cover;
}

/* LIBRARY TAB */
.theme-dark .emptyWumpus-12J3jI {
  background-image: url('https://gistcdn.githack.com/Dries1234/1b10daaeeba58acac90bbf4d7a3dc1ad/raw/7e8acdbc2a9c6e17d2076d01781022238cbe49e9/gaming.svg') !important;
  background-size: cover;
}

.theme-dark .emptyStateImage-2eMp68 {
  background-image: url('https://gistcdn.githack.com/Dries1234/1b10daaeeba58acac90bbf4d7a3dc1ad/raw/7e8acdbc2a9c6e17d2076d01781022238cbe49e9/gaming.svg') !important;
  background-size: cover;
}

/* Custom scrollbar */
:root {
  --color: rgba(255, 255, 255, 0.2);
}

#app-mount :not(:hover).scroller-2FKFPG::-webkit-scrollbar-thumb {
  background-color: transparent !important;
}

.scroller-2FKFPG::-webkit-scrollbar,
.scrollbarGhostHairline-1mSOM1::-webkit-scrollbar {
  width: 4px !important;
}

.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-thumb,
.scrollbarGhostHairline-1mSOM1::-webkit-scrollbar-thumb,
.scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-thumb,
.theme-dark .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-thumb,
.theme-light .scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-thumb {
  background-color: var(--color) !important;
  border-color: transparent !important;
}

.scroller-2FKFPG::-webkit-scrollbar-thumb, .scroller-2FKFPG::-webkit-scrollbar-track {
  border: none !important;
}

.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-track-piece {
  background-color: transparent !important;
  border-color: transparent !important;
}

.scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv > .scroller-2FKFPG::-webkit-scrollbar-track,
.scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv > .scrollerStore-390omS::-webkit-scrollbar-track,
.theme-dark .scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv > .scroller-2FKFPG::-webkit-scrollbar-track,
.theme-dark .scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv > .scrollerStore-390omS::-webkit-scrollbar-track,
.theme-light .scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv > .scroller-2FKFPG::-webkit-scrollbar-track,
.theme-light .scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv > .scrollerStore-390omS::-webkit-scrollbar-track {
  background-color: transparent !important;
}

/* Bot tag fix */
.botTag-1un5a6 {
  margin-top: 0 !important;
}
