/* Hide activity unless hovering */
.layout-2DM8Md .activity-2Gy-9S {
  opacity: 0;
  height: 0;
  transition: all 0.2s ease-out;
}

.layout-2DM8Md:hover .activity-2Gy-9S {
  opacity: 1;
  height: 20px;
}


/* Member sidebar animation */

.membersWrap-2h-GB4 {
  //min-width: 0;

  .members-1998pB {
    //width: 80px;
    //transition: all 0.5s ease;

    //&:hover {
      //width: 240px;

      //.avatar-3uk_u9 {
      //  margin-left: 0;
      //}
    //}

    .membersGroup-v9BXpm {
      border-bottom: 3px solid;
      border-image: linear-gradient(90deg, transparent, currentColor, transparent) 1;
      text-align: center;
    //  transition: all 300ms ease;
    }

    .member-3-YXUe {
      max-width: none;
      margin-left: 0;
    }
    //
    //.avatar-3uk_u9 {
    //  margin-left: 10px;
    //  transition: all 300ms ease;
    //}
  }
}

