@import '../../variables';

//.pc-newMessagesBar {
//  background-color: $main-color;
//
//  &:hover {
//    background-color: darken($main-color, 10%);
//  }
//}

//.pc-newMessagesBar button:last-child {
//  color: black;
//  transition: color 2s;
//}