@import '../../variables';

/* Mentions */
.isMentioned-N-h9aa {
  margin-left: 7px;
  background: rgba($mentions, .1) !important;

  &:after {
    border-radius: 0;
    border-color: $mentions;
  }

  @if $role-colored {
    .mention[style*="color:"] {
      color: $mentions !important;
    }
  }
  .mention:not([style*="color:"]) {
    @if $tag-colored {
      color: $mentions !important;
    }
  }
}

/* Channel tags */
.wrapperHover-1GktnT {
  transition: background-color 50ms ease-out, color 50ms ease-out !important;
  cursor: pointer !important;

  &.wrapper-3WhCwL:not(.mention) {
    color: $channel-tag !important;
    background-color: rgba($channel-tag, .1) !important;
  }
}
