@import '../../variables';

.toolbar-1t6TWx {
  .anchor-3Z-8Bb,
  .iconWrapper-2OrFZ1[aria-roledescription*="Channel Mute Switch"],
  .iconWrapper-2OrFZ1[aria-label*="Add Friends to DM"],
  .iconWrapper-2OrFZ1[aria-label*="Start Video Call"] {
    display: none;
  }

  .multitask-icon {
    order: 1;
  }

  .iconWrapper-2OrFZ1[aria-label*="Start Voice Call"] {
    order: 2;
  }

  .iconWrapper-2OrFZ1[aria-label*="Mentions"] {
    order: 3;
  }

  .iconWrapper-2OrFZ1[aria-label*="Pinned Messages"] {
    order: 4;
  }

  .iconWrapper-2OrFZ1[aria-label*="Member List"] {
    order: 5;
  }

  .search-36MZv-:not([tabindex]) {
    order: 6;
  }

  .iconWrapper-2OrFZ1[aria-label*="Update Ready!"] {
    order: 7;
  }
}

.popoutBottom-1YbShG.noArrow-3BYQ0Z,
.popoutBottomLeft-JehOp2.noArrow-3BYQ0Z,
.popoutBottomRight-2JrySt.noArrow-3BYQ0Z,
.noArrow-2foL9g.noShadow-3pu20z.popout-2iWAc-.popoutBottom-2GAFPg.arrowAlignmentTop-1yftWI {
  transform: translateX(-50%) translateY(0%) translateY(6px) translateZ(0px) !important;
}

.container-3ayLPN.elevationBorderHigh-2WYJ09 {
  width: 395px !important;
}

.search-2oPWTC.focused-31_ccS > *,
.search-2oPWTC.open-6_Y_aH > * {
  width: 395px;
}
