//@import '../../variables';
//@import url('https://discord-custom-covers.github.io/usrbg/snippets/userPopouts.css');
//@import url('https://discord-custom-covers.github.io/usrbg/snippets/modals.css');
//
//:root {
//  /*Primary*/
//  --lv1: #00000f;
//  //--accent: #1973d3;
//  --hover: #135193;
//  --bg: url('https://i.imgur.com/GdnbuVj.jpg');
//  --tooltip-color: #f6f6f7;
//  --bg-opacity: 0.25;
//  --bg-fade: 80%;
//
//  /*Support for other themes*/
//  --mc: var(--accent);
//  --hc: var(--hover);
//  --main-color: var(--accent);
//  --hover-color: var(--hover);
//  --roundness: var(--user-roundness);
//  --lvl-bg-opacity: var(--bg-opacity);
//  --lvl-bg-fade: var(--bg-fade);
//  --online: var(--success);
//  --idle: var(--caution);
//  --dnd: var(--danger);
//  --offline: var(--unavailable);
//  --invisible: var(--invisible);
//  --streaming: var(--twitch-purple);
//
//  /*Branding*/
//  --theme-name: 'Midnight UI';
//  --theme-version: '3.2';
//
//  /*Discord Vars*/
//  --deprecated-store-bg: var(--lv1);
//  --background-primary: var(--lv1);
//  --background-secondary: var(--lv1);
//  --background-secondary-alt: var(--lv1);
//  --background-tertiary: var(--lv1);
//  --channeltextarea-background: var(--lv1);
//  --background-modifier-active: transparent;
//
//  /*Status*/
//  --success: #11d85d;
//  --caution: #ffd104;
//  --danger: #e20b0b;
//  --unavailable: #636b75;
//  --invisible: #747f8d;
//  --information: #4a90e2;
//  --twitch-purple: #9146FF;
//  --spotify-green: #1DB954;
//  --xbox-green: #0e7a0d;
//  --netflix-red: #e50914;
//
//  /*Roundness*/
//  --user-roundness: 0;
//  --guilds-roundness: 0;
//
//  /*Fonts*/
//  --sizelg: 1.25rem;
//  --size0: 1.15rem;
//  --size1: .925rem;
//  --size2: .8rem;
//  --size3: .75rem;
//  --size4: .7rem;
//  --size5: .5rem;
//  --size6: .35rem;
//  --font: 'Inter', sans-serif;
//  --letter-spacing: -.02rem;
//  font-size: 14px !important;
//
//  /*Toasts*/
//  --toast-background: var(--lv1);
//}
//
//@keyframes userPopout {
//  0% {
//    transform: translateX(10%) scale(.95);
//    transform-origin: right center
//  }
//  100% {
//    transform: none;
//  }
//}
//
//.userPopout-3XzG_A {
//  border-radius: 0;
//  background: var(--lv1) !important;
//  box-shadow: 0 0 12px 1px var(--lv1);
//  animation: userPopout 350ms;
//  transform: translateZ(0);
//}
//
//.footer-1fjuF6 {
//  padding: 0;
//  border: none;
//}
//
//.body-3iLsc4,
//.activityUserPopout-2yItg2 {
//  background: rgba(255, 255, 255, .04) !important;
//}
//
//.bodyInner-245q0L,
//.footer-1fjuF6 {
//  background: transparent !important;
//}
//
//.quickMessage-1yeL4E {
//  transition: 150ms ease border, 150ms ease box-shadow;
//  box-shadow: none !important;
//  border-radius: 0;
//  font-size: var(--size1);
//  border: none;
//  border-bottom: 2px solid rgba(255, 255, 255, .1) !important;
//  background: rgba(255, 255, 255, .08) !important;
//  backdrop-filter: blur(10px);
//}
//
//.inline-136HKr .pro-1T8RK7, .inline-136HKr .tip-2ab612 {
//  display: none;
//}
//
//.quickMessage-1yeL4E + .protip-YaFfgO {
//  position: absolute;
//  bottom: 0;
//  left: 0;
//  background: var(--accent);
//  box-shadow: 0 0 8px var(--accent);
//  opacity: 0;
//  width: 100%;
//  height: 2px;
//  transition: 250ms ease opacity;
//}
//
//.quickMessage-1yeL4E:focus + .protip-YaFfgO {
//  animation: textarea 250ms ease;
//  opacity: 1;
//}
//
//.userPopout-3XzG_A .header-2BwW8b {
//  position: relative;
//  background: transparent !important;
//}
//
//.userPopout-3XzG_A .assetsLargeImageUserPopout-3Pp8BK {
//  width: auto;
//  height: 70px;
//}
//
//.userPopout-3XzG_A .headerXbox-3G-4PF .headerTop-3C2Zn0 {
//  background-image: linear-gradient(var(--xbox-green), rgba(0, 0, 0, 0.75)) !important;
//  background-color: var(--xbox-green) !important;
//}
//
//.userPopout-3XzG_A .headerSpotify-zpWxgT .headerTop-3C2Zn0 {
//  background-image: linear-gradient(var(--spotify-green), rgba(0, 0, 0, 0.75)) !important;
//  background-color: var(--spotify-green) !important;
//}
//
//.userPopout-3XzG_A .headerStreaming-2FjmGz .headerTop-3C2Zn0 {
//  background-image: linear-gradient(var(--twitch-purple), rgba(0, 0, 0, 0.75)) !important;
//  background-color: var(--twitch-purple) !important;
//}
//
//#app-mount .headerPlaying-j0WQBV .headerTop-3C2Zn0 {
//  background-image: linear-gradient(var(--accent), rgba(0, 0, 0, 0.75)) !important;
//  background-color: var(--accent) !important;
//}
//
//.activityStreamPreview-3r3GiX .textRow-19NEd_,
//.activityUserPopout-2yItg2 .textRow-19NEd_,
//.customStatus-1bh2V9 {
//  font-size: var(--size1);
//}
//
//.barInner-3NDaY_ {
//  background: var(--spotify-green);
//  box-shadow: 0 0 12px var(--spotify-green);
//}
//
//.content-3JfFJh a {
//  text-shadow: none !important;
//}
//
//.actionsStreamPreview-2lARcx,
//.actionsUserPopout-2xcO1O {
//  margin-top: 0;
//}
//
//.HintHint-1qgaV3,
//.userPopout-3XzG_A .activity-11LB_k * {
//  border-radius: 0 !important;
//}
//
//.userPopout-3XzG_A .headerTop-3C2Zn0 {
//  padding: 10px;
//  padding-top: 40px;
//  background: rgba(255, 255, 255, 0.07);
//  align-items: flex-start;
//}
//
//.userPopout-3XzG_A .headerTag-2pZJzA {
//  font-size: var(--size2);
//  font-weight: 500;
//  text-transform: capitalize;
//  color: rgba(255, 255, 255, .5) !important;
//  height: 28px;
//  align-items: center;
//  justify-content: flex-start;
//  position: absolute;
//  left: 0;
//  width: 100%;
//  display: flex;
//  top: 0;
//  background: rgba(0, 0, 0, 0.5);
//  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
//  backdrop-filter: blur(10px);
//  text-align: left;
//  z-index: 1;
//}
//
//.userPopout-3XzG_A .headerTag-2pZJzA span + span {
//  line-height: normal;
//}
//
//.userPopout-3XzG_A .username-2b1r56 {
//  margin-left: 10px;
//  line-height: normal;
//  white-space: nowrap;
//  overflow: hidden;
//  max-width: 80%;
//  font-size: var(--size2);
//}
//
//.userPopout-3XzG_A .username-2b1r56:before {
//  content: '';
//  margin-right: 5px;
//  font-family: 'Segoe MDL2 Assets';
//  position: relative;
//  top: 1px;
//}
//
//.userPopout-3XzG_A .headerName-fajvi9 {
//  font-size: var(--size0);
//}
//
//.userPopout-3XzG_A .username-2b1r56 {
//  color: #fff;
//  font-weight: 600;
//}
//
//.userPopout-3XzG_A .customStatus-1bh2V9,
//.userPopout-3XzG_A .headerNameWrapper-3res2c {
//  text-align: left;
//  font-weight: 500;
//}
//
//.userPopout-3XzG_A .customStatus-1bh2V9 .customStatusEmoji-7MXCgv.customStatusSoloEmoji-XOvnMc {
//  width: 25px;
//  height: 25px;
//}
//
//.avatarHintInner-Dco91E {
//  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIj8+PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0IiBmaWxsPSIjZmZmZmZmIj4gIDxwYXRoIGQ9Ik0xMiAxMmMyLjIxIDAgNC0xLjc5IDQtNHMtMS43OS00LTQtNC00IDEuNzktNCA0IDEuNzkgNCA0IDR6bTAgMmMtMi42NyAwLTggMS4zNC04IDR2MmgxNnYtMmMwLTIuNjYtNS4zMy00LTgtNHoiLz4gIDxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz48L3N2Zz4=") center/60% no-repeat !important;
//  box-shadow: none;
//  background-color: rgba(0, 0, 0, 0.5) !important;
//  font-size: 0;
//  border-radius: var(--user-roundness);
//}
//
//.activityUserPopout-2yItg2 .headerText-1HLrL7,
//.bodyTitle-Y0qMQz {
//  margin: 0;
//  background: rgba(255, 255, 255, .07) !important;
//  height: 28px !important;
//  line-height: 28px;
//  padding: 0 10px;
//  font-size: var(--size2);
//  font-weight: 500;
//  text-transform: capitalize;
//  color: rgba(255, 255, 255, .5) !important;
//  backdrop-filter: blur(10px);
//  display: flex;
//}
//
//.rolesList-22qj2L {
//  max-height: 250px;
//  min-height: unset;
//  overflow: auto;
//}
//
//.activityUserPopout-2yItg2 .body-ZAhrcj {
//  padding: 10px;
//  align-items: center;
//}
//
//#app-mount .userPopout-3XzG_A .bot-2Fta1w {
//  position: absolute;
//  right: 10px;
//  margin: 0;
//  width: fit-content;
//  font-size: var(--size4);
//  border-radius: 2px;
//  height: 1.28em;
//  padding: .072rem .275rem;
//  background: #fff;
//  color: var(--accent);
//}
//
//.userPopout-3XzG_A .avatarWrapper-3H_478[user_by_bdfdb*="254362351170617345"] + .headerText-2sdzFM .headerTag-2pZJzA:after {
//  content: 'Dev';
//  position: absolute;
//  right: 10px;
//  border-radius: 2px;
//  color: var(--accent);
//  font-size: var(--size4);
//  font-weight: 500;
//  height: 1.28em;
//  padding: .072rem .275rem;
//  line-height: 1.28em;
//  background: #fff;
//  z-index: 2;
//}
//
//.userPopout-3XzG_A .timeBarUserPopout-AWPFf2 {
//  padding: 0 10px;
//}
//
//.userPopout-3XzG_A .activityUserPopout-2yItg2 .body-ZAhrcj a {
//  text-shadow: none;
//}
//
//.userPopout-3XzG_A .headerSpotify-zpWxgT a {
//  color: var(--spotify-green) !important;
//}
//
//.userPopout-3XzG_A .fullWidth-1orjjo {
//  margin: 0;
//}
//
//.assetsLargeMaskUserPopout-12EBBc {
//  mask: none !important;
//  -webkit-mask: none;
//}
//
//.bodyInner-245q0L {
//  padding: 0;
//}
//
//.bodyInner-245q0L::-webkit-scrollbar {
//  display: none;
//}
//
//.note-3HfJZ5 {
//  margin-bottom: 8px !important;
//}
//
//.userPopout-3XzG_A .note-3HfJZ5 textarea {
//  font-size: var(--size2) !important;
//  background: transparent !important;
//  padding: 0;
//  height: unset !important;
//  line-height: normal;
//}
//
//.activityUserPopout-2yItg2 {
//  padding: 0;
//  position: relative;
//}
//
//.bodyTitle-Y0qMQz:first-child:before {
//  content: '';
//}
//
//.bodyTitle-Y0qMQz:before {
//  content: '';
//  margin-right: 5px;
//  font-family: 'Segoe MDL2 Assets';
//}
//
//.activityUserPopout-2yItg2 .headerText-1HLrL7:before {
//  content: '';
//  margin-right: 5px;
//  font-family: 'Segoe MDL2 Assets';
//}
//
//.note-3HfJZ5,
//.rolesList-22qj2L,
//.actionsStreamPreview-2JlX14,
//.actionsUserPopout-2MrzCa,
//.listeningActionsUserPopout-Ga2V_N {
//  margin: 10px;
//}
//
//.actionsStreamPreview-2JlX14,
//.actionsUserPopout-2MrzCa,
//.listeningActionsUserPopout-Ga2V_N {
//  margin-bottom: 0;
//  padding-bottom: 10px;
//}
//
//.guildPopout-3CgKqR {
//  border-radius: 0;
//  background: var(--lv1) !important;
//  box-shadow: 0 0 12px 1px var(--lv1), inset 0 0 0 100vmax rgba(255, 255, 255, 0.07) !important;
//  animation: userPopout 350ms;
//}
//
//.guildPopout-3CgKqR .guildNameWrapper-1Mauc8 {
//  position: absolute;
//  top: 0;
//  left: 0;
//  width: 100%;
//  height: 28px;
//  background: rgba(0, 0, 0, 0.5);
//  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
//  padding: 0 10px;
//  color: rgba(255, 255, 255, .5) !important;
//}
//
//.guildPopout-3CgKqR .guildName-vhRkcC {
//  font-size: 12px !important;
//  font-weight: 500;
//  text-transform: capitalize;
//}
//
//.guildPopout-3CgKqR .guildIconBase-2U7aA8 {
//  margin: 15px 0;
//}
//
//.wumpusWrapper-yrvoR3 {
//  position: fixed;
//  top: 0;
//  right: 0;
//  margin: 0;
//  width: 75px;
//  height: 75px;
//}
//
//.wumpus-3VDMUi img {
//  display: none;
//}
//
//.wumpus-3VDMUi {
//  animation: none;
//  transition: none;
//  transform: none;
//  width: 100%;
//  height: 100%;
//  left: 0;
//}
//
//.wumpusTooltip-65YlMT::after {
//  display: none;
//}
//
//#app-mount .wumpusTooltip-65YlMT::before {
//  content: 'New';
//  font-size: var(--size2);
//  color: #fff;
//  position: relative;
//  transform: rotate(45deg);
//  transform-origin: center;
//  top: 12px;
//  left: -12px
//}
//
//#app-mount .wumpusTooltip-65YlMT {
//  font-size: 0;
//  background: var(--danger);
//  position: absolute;
//  width: 100%;
//  height: 100%;
//  padding: 0;
//  top: 0;
//  left: 0;
//  display: flex;
//  justify-content: center;
//  border-radius: 0;
//  clip-path: polygon(0% 0%, 50% 0, 100% 50%, 100% 100%);
//}
//
//.creationDate {
//  font-size: var(--size1);
//}
//
//// Top of user panels
////.topSectionSpotify-1lI0-P, .topSectionNormal-2-vo2m {
////  background-color: darken($background-secondary, 3);
////
////  .header-QKLPzZ .actionButton-3W1xZa {
////    background-color: darken($background-secondary, 7);
////    color: lightgray !important;
////
////    &:hover {
////      background-color: darken($background-secondary, 10);
////    }
////  }
////}
////
////.body-3ND3kc {
////  background-color: $background-secondary;
////}
//
////// Bottom of user panels
////.pc-userPopout .pc-headerTop,
////.pc-quickMessage,
////.pc-userPopout .pc-activity,
////.pc-headerSpotify,
////
////.pc-headerFill .pc-activity,
////.pc-topSectionPlaying,
////.pc-topSectionNormal,
////.pc-topSectionSpotify,
////.pc-tabBarContainer {
////  background-color: $background-primary;
////
////  .pc-header .pc-actionButton {
////    background-color: $background-secondary;
////    color: lightgray !important;
////
////    &:hover {
////      background-color: darken($background-secondary, 10);
////    }
////  }
////}
////
////// Connections
////.pc-connectedAccount {
////  border-color: darken($background-secondary, 5);
////}
