@import '../../../variables';

/* Channels */
.containerDefault-1ZnADq .content-3at_AU {
  margin: 1px 0;
}

/* Hide buttons on channels */
.menu-Sp6bN1 .separator-2zcjq8,
.statusItem-2uzPIV .helper-2c73HK,
.containerDefault-1ZnADq .children-Bmpf2Q [aria-label*="Create Invite"] {
  display: none;
}

/* Move server banner down */
.animatedContainer-1pJv5C {
  margin-top: 49px;
}

.scroller-2wx7Hm div.listContent-2_qb-y div[style*="height: 84px;"] {
  margin-top: 49px !important;
}

//.image-33JSyf {
//  border-radius: 10% !important;
//}

/* Categories */
.containerDefault-3GGEv_ {
  background-color: transparent !important;

  .wrapper-CU3qI5 {
    padding-left: 0;
    padding-right: 0;

    .icon-WnO6o2 {
      display: none;
    }
  }

  .muted-1NRuDm .name-IbjUBS {
    border-bottom: 3px solid;
    border-image: linear-gradient(90deg, transparent, currentColor, transparent) 1;
    margin-top: -7px;
    text-align: center;
  }

  :not(.muted-1NRuDm) .name-IbjUBS {
    color: $main-color;
    border-bottom: 3px solid;
    border-image: linear-gradient(90deg, transparent, $main-color, transparent) 1;
    margin-top: -7px;
    text-align: center;

    &:hover {
      color: $hover-color;
      border-image: linear-gradient(90deg, transparent, $hover-color, transparent) 1;
    }
  }
}
