@import '../../../variables';

:root {
  --spotify-color: #{$spotify-modal};
}

.powercord-spotify .avatarWrapper-2yR4wp .avatar-SmRMf2 {
  border-radius: $avatar-border-radius !important;
}

.powercord-spotify {
  position: relative;
  margin-bottom: 0;
  transition: 0.3s;
  transition-delay: 0.25s;

  .spotify-buttons {
    .fa-backward, .fa-forward, .fa-pause, .fa-play {
      width: 0;
      opacity: 0;
      pointer-events: none;
      transition: all .5s ease-in-out;
    }
  }

  &:hover, {
    .spotify-buttons {
      .fa-backward, .fa-forward, .fa-pause, .fa-play {
        width: 30px;
        opacity: 1;
        pointer-events: all;
      }
    }
  }
}
