@import '../../../variables';

/* Animated user settings */
.container-3baos1 .noWrap-3jynv6 {
  width: 0;
  opacity: 0;
  pointer-events: none;
  transition: all .5s ease-in-out;
}

.container-3baos1:hover .noWrap-3jynv6 {
  width: 100px;
  opacity: 1;
  pointer-events: all;
}

/* Status picker */
#popout_25[style*="position: absolute; left: 80px;"] {
  left: 72px !important;
  bottom: 53px !important;

  #status-picker {
    border-radius: 5% 5% 0 0;
    width: 240px;
    background-color: var(--deprecated-panel-background);
    box-shadow: none;

    .separator-2I32lJ, .description-2L932D {
      display: none;
    }

    #status-picker-online {
      .status-1AY8sU {
        background-color: $status-online-color !important;
      }

      //&:hover .status-1AY8sU {
      //  background-color: white !important;
      //}
    }

    #status-picker-idle {
      .status-1AY8sU {
        background-color: $status-idle-color !important;
      }
    }

    #status-picker-dnd {
      .status-1AY8sU {
        background-color: $status-dnd-color !important;
      }
    }

    #status-picker-invisible {
      .status-1AY8sU {
        background-color: $status-invisible-color !important;
      }
    }
  }
}
