.pc-channelTextArea .pc-buttons {
  position: absolute;
  bottom: 6px;
  right: 0;
  display: flex;
  flex-direction: column;
  height: unset;
  width: 45px;
  background-color: #40444b;
  border-radius: 6px;
  padding-top: 4px;
  padding-right: 0;
  z-index: 4;
}

.pc-inner {
  position: relative;
}

.pc-buttons > *:not(.pc-emojiButton) {
  transition: 0.15s 0.6s ease-out;
  transition-property: height, opacity;
  height: 0;
  opacity: 0;
}

.pc-buttons:hover > *:not(.pc-emojiButton), .pc-buttons > .active-23Nm0T {
  opacity: 1;
  height: 34px;
  transition-delay: 0s;
}

.pc-textArea {
  padding-right: 50px;
}

.pc-gifPickerIcon {
  margin-left: 3px;
}