@import '../../../variables';

:root {
  --rs-small-spacing: 2px; /* spacing between avatar and status */
  --rs-large-spacing: 3px; /* spacing between avatar and status for user popouts & modals/profiles */
  --rs-width: 2px; /* Width/thickness of status border */
  --rs-avatar-shape: #{$avatar-border-radius};
  --rs-online-color: #{$status-online-color};
  --rs-idle-color: #{$status-idle-color};
  --rs-dnd-color: #{$status-dnd-color};
  --rs-streaming-color: #{$status-streaming-color};
  --rs-offline-color: #{$status-offline-color};
  --rs-invisible-color: #{$status-invisible-color};
}

#app-mount .wrapper-3t9DeA svg:not(:root) {
  overflow: visible;
}

#app-mount .wrapper-3t9DeA foreignObject {
  mask: none;
}

#app-mount .wrapper-3t9DeA .dots-3Bkt3k circle:nth-child(1) {
  cy: -8 !important;
  cx: -8.5 !important;
}

#app-mount .wrapper-3t9DeA .dots-3Bkt3k circle:nth-child(2) {
  cy: -8 !important;
  cx: -2.25 !important;
}

#app-mount .wrapper-3t9DeA .dots-3Bkt3k circle:nth-child(3) {
  cy: -8 !important;
  cx: 4 !important;
}

#app-mount .wrapper-3t9DeA .mask-1l8v16 > rect[x="22"] {
  x: 0;
  y: 0;
}

#app-mount .wrapper-3t9DeA .cursorDefault-dsQJ1n rect {
  x: -49;
  y: -53;
}

#app-mount .wrapper-3t9DeA .pointerEvents-2zdfdO[x="14.5"] {
  fill: rgba(0, 0, 0, 0.5) !important;
  width: 30px;
  height: 30px;
  x: 1;
  y: 1;
}

#app-mount .wrapper-3t9DeA img {
  border-radius: var(--rs-avatar-shape);
  clip-path: inset(calc(var(--rs-small-spacing) + 1px) calc(var(--rs-small-spacing) + 1px) round var(--rs-avatar-shape));
}

#app-mount .wrapper-3t9DeA svg[width="25"][height="15"] > rect {
  rx: calc(var(--rs-avatar-shape) * 2) !important;
  ry: calc(var(--rs-avatar-shape) * 2) !important;
}

#app-mount .wrapper-3t9DeA rect {
  x: 0;
  y: 0;
  width: 100%;
  height: 100%;
  mask: none;
  display: block !important;
  rx: var(--rs-avatar-shape) !important;
  ry: var(--rs-avatar-shape) !important;
  fill: transparent !important;
  stroke-width: var(--rs-width);
}

#app-mount .wrapper-3t9DeA rect[fill="#43b581"], #app-mount .wrapper-3t9DeA rect[fill="rgba(67, 181, 129, 1)"], #app-mount .wrapper-3t9DeA rect[mask*=online] {
  stroke: var(--rs-online-color);
}

#app-mount .wrapper-3t9DeA rect[fill="#faa61a"], #app-mount .wrapper-3t9DeA rect[fill="rgba(250, 166, 26, 1)"], #app-mount .wrapper-3t9DeA rect[mask*=idle] {
  stroke: var(--rs-idle-color);
}

#app-mount .wrapper-3t9DeA rect[fill="#f04747"], #app-mount .wrapper-3t9DeA rect[fill="rgba(240, 71, 71, 1)"], #app-mount .wrapper-3t9DeA rect[mask*=dnd] {
  stroke: var(--rs-dnd-color);
}

#app-mount .wrapper-3t9DeA rect[fill="#593695"], #app-mount .wrapper-3t9DeA rect[mask*=streaming] {
  stroke: var(--rs-streaming-color);
}

#app-mount .wrapper-3t9DeA rect[fill="#747f8d"], #app-mount .wrapper-3t9DeA rect[mask*=offline], #app-mount .wrapper-3t9DeA rect[fill=NaN] {
  stroke: var(--rs-offline-color);
}

#app-mount .wrapper-3t9DeA rect[mask*=invisible], #app-mount .wrapper-3t9DeA rect[fill="rgba(116, 127, 141, 1)"] {
  stroke: var(--rs-invisible-color);
}

#app-mount .wrapper-3t9DeA rect[x="16"] {
  width: 24px;
  height: 24px;
}

#app-mount .wrapper-3t9DeA rect[x="28"] {
  width: 40px;
  height: 40px;
  overflow: visible;
}

#app-mount .wrapper-3t9DeA[style*="width: 80px;"] {
  position: relative;
  margin-right: 0 !important;
}

#app-mount .wrapper-3t9DeA[style*="width: 80px;"] rect {
  width: 80px;
  height: 80px;
  pointer-events: none;
}

#app-mount .wrapper-3t9DeA[style*="width: 80px;"] img {
  clip-path: inset(calc(var(--rs-large-spacing) + 1px) calc(var(--rs-large-spacing) + 1px) round var(--rs-avatar-shape));
}

#app-mount .wrapper-3t9DeA[style*="width: 80px;"][style*="width:80px;"]:after {
  left: unset;
  right: -2px;
  top: unset;
  bottom: -2px;
  transform: none;
}

#app-mount .wrapper-3t9DeA[style*="width: 32px;"] rect {
  width: 32px;
  height: 32px;
  x: -14.5;
  y: -17;
  position: relative;
  z-index: 0;
}

#app-mount .avatarHint-1qgaV3 foreignObject {
  mask: none;
}

#app-mount .avatarHint-1qgaV3 .avatarHintInner-Dco91E {
  border-radius: var(--rs-avatar-shape) !important;
  padding-top: 0;
  width: calc(100% - var(--rs-width) * 4);
  height: calc(100% - var(--rs-width) * 4);
  margin-top: calc(var(--rs-width) + 2px);
  margin-left: calc(var(--rs-width) + 2px);
}

#app-mount .message-1PNnaP .mask-1l8v16 img {
  clip-path: circle(calc(19px - var(--rs-small-spacing)));
}

#app-mount .memberOffline-2lN7gt img {
  clip-path: none !important;
}

#app-mount .header-QKLPzZ .wrapper-3t9DeA {
  margin-right: 20px !important;
}

#app-mount .offline-3nJYBR img {
  clip-path: none !important;
}

#app-mount .wrapper-3t9DeA foreignObject[mask*=mobile] {
  width: calc(100% + 4px);
}

#app-mount .wrapper-3t9DeA foreignObject[mask*=mobile][width="32"] img {
  width: 32px;
}

#app-mount .wrapper-3t9DeA foreignObject[mask*=mobile][width="80"] img {
  width: 80px;
}

#app-mount .wrapper-3t9DeA foreignObject[mask*=mobile]:after {
  content: "";
  -webkit-mask: url('data:image/svg+xml; utf-8,<svg aria-hidden="true" focusable="false" data-prefix="fas" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M272 0H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h224c26.5 0 48-21.5 48-48V48c0-26.5-21.5-48-48-48zM160 480c-17.7 0-32-14.3-32-32s14.3-32 32-32 32 14.3 32 32-14.3 32-32 32zm112-108c0 6.6-5.4 12-12 12H60c-6.6 0-12-5.4-12-12V60c0-6.6 5.4-12 12-12h200c6.6 0 12 5.4 12 12v312z"></path></svg>') center/8px no-repeat;
  display: block;
  position: absolute;
  width: 10px;
  height: 14px;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  background: var(--rs-online-color);
  z-index: 1;
}

#app-mount .wrapper-3t9DeA:before {
  content: none !important;
}
